{% extends "blog/base.html" %}
{% block content %}
    <h1>Проект сделан по приказу генерала гавса</h1>
    <img src = /media/about/general.webp height="180" alt = "">
    <img src =/media/about/edgar.png height ="180" alt="">
    <img src =/media/about/elprimo.png height ="180" alt="">
    <img src =/media/about/pablo.png height ="180" alt="">
    <img src =/media/about/leon.png height ="180" alt="">

    <img src="https://c.tenor.com/KuiiScVzyKwAAAAM/d4dj-%D0%BD%D0%B5%D0%BE%D0%B1%D1%8F%D0%B7%D0%B0%D0%BD.gif" height = 410 alt="">
{% endblock content %}