{% extends "blog/base.html" %}
{% block content %}
    <h1>Сервис обмена <b>Swapper</b> сделан командой <b>Опасные Кролики</b> по приказу Генерала Гавса</h1>
    <img src="https://steamuserimages-a.akamaihd.net/ugc/1796348738160415677/D912624E02310EB0A1BA5F53B52B5BD064CC99ED/?imw=512&&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false" height = 150 width="170" alt="">
    <img src ="https://c.tenor.com/OnDzyRpUwGgAAAAC/run-run-run-brawl-stars-el-primo-gif.gif" height ="150" alt="">
    <img src ="https://c.tenor.com/y5KVwUHOv-0AAAAC/rei-rei-plush.gif" height ="150" alt="">
    <img src ="/media/about/general.webp" height ="150" alt="">
    <img src = /media/about/anya.gif height="150" alt = ""
    <br>
    <h2><b>Что такое Swapper?</b></h2>
    <h4><b>Swapper</b> - это простой и удобный сервис обменных операций. Безграничное пространство для обмена между людьми.</h4>
    <img src = /media/about/books.png height="700" alt = "">
    <br>

    <img src = "https://c.tenor.com/KuiiScVzyKwAAAAM/d4dj-%D0%BD%D0%B5%D0%BE%D0%B1%D1%8F%D0%B7%D0%B0%D0%BD.gif" height="500" alt = "">

{% endblock content %}